
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }} " />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/local.css') }}" />

    <script type="text/javascript" src="static/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/scripts/bootstrap.min.js"></script>

      <style>

        div {
            padding-bottom:20px;
        }

    </style>
</head>
<body>

    <div id="wrapper">
    <div class="container center_div">
<!--         <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Back to Admin</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="index.html"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li><a href="portfolio.html"><i class="fa fa-tasks"></i> Portfolio</a></li>
                    <li><a href="blog.html"><i class="fa fa-globe"></i> Blog</a></li>
                    <li><a href="signup.html"><i class="fa fa-list-ol"></i> SignUp</a></li>
                    <li class="selected"><a href="register.html"><i class="fa fa-font"></i> Register</a></li>
                    <li><a href="timeline.html"><i class="fa fa-font"></i> Timeline</a></li>
                    <li><a href="forms.html"><i class="fa fa-list-ol"></i> Forms</a></li>
                    <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
                    <li><a href="bootstrap-elements.html"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>
                    <li><a href="bootstrap-grid.html"><i class="fa fa-table"></i > Bootstrap Grid</a></li>            
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">2 New Messages</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                        </ul>
                    </li>
                     <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Steve Miller<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
 -->
     <div class="row" style="center">
                <div class="col-lg-12">
            <h2>Create an Account </h2>
            <br>
    <form class="form-inline" role="form"  action ="/register/" method ="POST">
        <div class="form-group">
            <label for="username" class="col-md-4">
                Username:
            </label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
                <i class="fa fa-lock fa-2x"></i>  
            <br><br>     
            <label for="emailaddress" class="col-md-4">
                Email address:
            </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                <i class="fa fa-lock fa-2x"></i>
            <br><br> 
            <label for="password" class="col-md-4">
                Password:
            </label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
                <i class="fa fa-lock fa-2x"></i>
<!--                 <p class="help-block">
                    Min: 6 characters (Alphanumeric only)
                </p> -->
            <br><br>
            <label for="sex" class="col-md-4">
                Gender:
            </label>
                <label class="radio">
                    <input type="radio" name="gender" id="sex" name="gender" value="male" checked>
                    Male
                </label>
                <label class="radio">
                    <input type="radio" name="gender" id="Radio1" name="gender" value="female">
                    Female
                </label> 
            <br><br>         
            <label for="country" class="col-md-4">
                Country:
            </label>

                <select name="country" id="country" name="country" class="form-control">
                    <option>--Please Select--</option>
                    <option>India</option>
                    <option>United States</option>
                    <option>Canada</option>
                    <option>United Kingdom</option>
                    <option>Others</option>
                </select>
           <br><br>
            <label for="uploadimage" class="col-md-4">
                Upload Image:
            </label>
                <input type="file" name="uploadimage" id="uploadimage">
                <p class="help-block" style="margin-left: 160px;">
                    Allowed formats: jpeg, jpg, gif, png
                </p>
                     


        <div>
            <div class="col-md-2">
            </div>

            <div class="col-lg-12">
                <label>
                    <input type="checkbox">  I hereby accept the terms and conditions for using this site</label>
            </div>            
        </div>
            {% if validation == false %}
    <div class="row">
          <div class="col-lg-6">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong> {{ message }} </strong>
            </div>
          </div>
    {% endif %}

    
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-info"> 
                    Register
                </button>
            </div>
        </div>
    </div>  
    </div>
</div>
    </form>

{% if validation == true %}
    <div class="col-lg-4">
            <div class="alert alert-dismissable alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong> {{ message }} </strong>
            </div>
          </div>
    {% endif %}

</body>
</html>
